<div class="container">
  <div class="sub-menu">
    <button class="sub-menu-item" (click)="openNewWindow()">Open New Window</button>
    <button class="sub-menu-item" (click)="closeWindow()">Close Window</button>
    <button class="sub-menu-item" (click)="moveWindowTo()">Move Window To</button>
    <button class="sub-menu-item" (click)="resizeWindow()">Resize Window</button>
    <button class="sub-menu-item" (click)="scrollWindowBy()">Scroll By</button>
    <button class="sub-menu-item" (click)="printPage()">Print Page</button>
    <button class="sub-menu-item" (click)="blurWindow()">Blur Window</button>
    <button class="sub-menu-item" (click)="confirmWindow()">Confirm Window</button>
    <button class="sub-menu-item" (click)="moveByWindow()">Move By Window</button>
    <button class="sub-menu-item" (click)="resizeByWindow()">Resize By Window</button>
    <button class="sub-menu-item" (click)="scrollToWindow()">Scroll To Window</button>
    <button class="sub-menu-item" (click)="stopWindow()">Stop Window</button>
    <button class="sub-menu-item" (click)="alertWindow()">Alert Window</button>
    <button class="sub-menu-item" (click)="promptWindow()">Prompt Window</button>
  </div>
</div>