:host {
    display: flex;
    flex-flow: row wrap;
}

:host {
    display: block;
    text-align: center;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3em;
}


h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: bold;
    animation: aparecer 1s ease-out;
    color: #6acad9 !important;
    text-shadow: 0 0 40px #6acad9;
    
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

button {
    border: 0;
    cursor: pointer;
    transition: 0.08s;
    width: 8em;
    height: 2em;
    font-size: 1.2em;
    margin-bottom: 2em;
    border-radius: 4px;
    background-color: #64abb6;
    margin: 1em 1em 0 1em;
}

button:hover {
    transform: scale(1.1);
    background-color: #a1e0ea;
    outline: 4px solid #d3eaed !important;
    box-shadow: 0 0 30px #6acad9, 0 0 40px #6acad9;
}