:host {
    display: block;
    text-align: center;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3em;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: bold;
    animation: aparecer 1s ease-out;
    color: #f7cf4b !important;
    text-shadow: 0 0 30px #f7cf4b, 0 0 40px #f7cf4b;
    
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  


input {
    margin-bottom: 2em;
    border: 0;
    font-size: 1.2em;
    width: 35%;
    height: 2em;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(227, 227, 227);
    transition: 1s;
}
input:active, input:focus {
    outline: 4px solid #f7cf4b !important;
    font-size: 1.2em;
    width: 30%;
    height: 2em;
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

button {
    border: 0;
    cursor: pointer;
    transition: 0.08s;
    width: 8em;
    height: 2em;
    font-size: 1.2em;
    margin-bottom: 2em;
    border-radius: 4px;
    background-color: #f7cf4b;
}

button:hover {
    transform: scale(1.1);
    background-color: #e6b32e;
}