<footer class="nga-footer mt-auto">
  
  <div class="container-fluid bg-dark text-ligh py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Teléfono: +123 456 789</p>
          
        </div>
        <div class="col-md-4">
          <div class="dropdown text-dark">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enlaces
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#" target="_blank">Inicio</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Galería</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Inicio de sesión</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Registro</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Redes Sociales
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#" target="_blank">Facebook</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Twitter</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Picasso Web. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
  </footer>
  