<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
          data-bs-target="#home-collapse" aria-expanded="false">
          API's
        </button>
        <div class="collapse text-white" id="home-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/Nasa" class="link-light rounded">Nasa</a>
            </li>
            <li>
              <a routerLink="/Clima" class="link-light rounded">Clima</a>
            </li>
            <li>
              <a routerLink="/GitHub" class="link-light rounded">GitHub</a>
            </li>
            <li>
              <a routerLink="/Peliculas" class="link-light rounded">Películas</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
