<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
          data-bs-target="#home-collapse" aria-expanded="false">
          API's
        </button>
        <div class="collapse text-white" id="home-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/nasa" class="link-light rounded"><i
                  class="fas fa-user text-primary mt-1 me-2"></i>Nasa</a>
            </li>
            <li>
              <a routerLink="/clima" class="link-light rounded"><i
                  class="fas fa-user text-primary mt-1 me-2"></i>Clima</a>
            </li>
            <li>
              <a routerLink="/github" class="link-light rounded"><i
                  class="fas fa-user text-primary mt-1 me-2"></i>GitHub</a>
            </li>
            <li>
              <a routerLink="/peliculas" class="link-light rounded"><i
                  class="fas fa-user text-primary mt-1 me-2"></i>Películas</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
