<div class="container">
  <h1>Anadir una nota</h1>
  <div class="submit-form">
    @if (!submitted) {
      <div>
        <div class="form-group">
          <label for="title">Título:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
            placeholder="Introduce un título."/>
          </div>
          <div class="form-group">
            <label for="description">Descripción</label>
            <input
              class="form-control"
              id="description"
              required
              [(ngModel)]="tutorial.description"
              name="description"
              placeholder="Introduce una descripción."/>
            </div>
            <button (click)="saveTutorial()" class="btn btn-success">Enviar</button>
          </div>
        }

        @if (submitted) {
          <div>
            <h4>¡La nota ha sido añadida con éxito!</h4>
            <button class="btn btn-success" (click)="newTutorial()">Ok</button>
          </div>
        }
      </div>
    </div>
