:host {
    padding-top: auto;
    margin: 0;

  }
  
 div div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  h1 {
    color: #007bff; /* Azul Bootstrap */
  }
  
  .lead {
    color: #28a745; /* Verde Bootstrap */
  }
  
  .visit-counter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #d26060; /* Amarillo Bootstrap */
    border: 2px solid #992c2c; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
  }
  
