<div class="container">
    <div class="row">
        <div class="col-md-12 offset-md mt-0 container-fluid text-white"> <!-- Ajuste en el margen superior -->
            <h1>¿Qué es Angular 17?</h1>
            <p class="lead py-4 text-white">
                Angular es un framework de desarrollo utilizado para construir aplicaciones web dinámicas y escalables.
                Con el lanzamiento de Angular 17, los desarrolladores pueden disfrutar de una serie de mejoras de
                rendimiento, nuevas características, y mejor integración con herramientas modernas de desarrollo web.
                Angular 17 representa un paso adelante en la evolución del desarrollo front-end, ofreciendo estructuras
                de código más limpias, reducción en el tamaño de los paquetes y mejoras en la velocidad de ejecución de
                las aplicaciones.</p>
                <img src="../../assets/angular.png" alt="Angular" class="img-responsive" width="50%" >
            <h1>¿Cuándo salió Angular 17?</h1>
            <p class="lead py-4 text-white">Angular 17 ha sido lanzado oficialmente el pasado mes de Noviembre, marcando otro hito significativo en
                el ciclo de vida del framework. Este lanzamiento trajo consigo actualizaciones importantes que responden
                a las necesidades de la comunidad de desarrolladores y alinean a Angular aún más con las prácticas
                modernas de programación web.</p>
        </div>
    </div>
</div>