<div class="container">
@if (viewMode) {
  <div>
    @if (currentTutorial.id) {
      <div>
        <h4>Nota:</h4>
        <div>
          <label><strong>Título:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Descripción:</strong></label>
          {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Estado:</strong></label>
          {{ currentTutorial.published ? "Publicada" : "Pendiente" }}
        </div>
        <a class="badge badge-warning"
          routerLink="/tutorials/{{ currentTutorial.id }}">
          Edit
        </a>
      </div>
    }
    @if (!currentTutorial) {
      <div>
        <br />
        <p>Por favor haz click en una nota...</p>
      </div>
    }
  </div>
} @else {
  @if (currentTutorial.id) {
    <div class="edit-form">
      <h4>Nota</h4>
      <form>
        <div class="form-group">
          <label for="title">Título:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTutorial.title"
            name="title"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripción:</label>
            <input
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="currentTutorial.description"
              name="description"
              />
            </div>
            <div class="form-group">
              <label><strong>Estado:</strong></label>
              {{ currentTutorial.published ? "Publicado" : "Pendiente" }}
            </div>
          </form>
          @if (currentTutorial.published) {
            <button
              class="badge badge-primary mr-2"
              (click)="updatePublished(false)"
              >
              Sin publicar
            </button>
          }
          @if (!currentTutorial.published) {
            <button
              class="badge badge-primary mr-2"
              (click)="updatePublished(true)"
              >
              Publicar
            </button>
          }
          <button class="badge mr-2" (click)="deleteTutorial()">
            Eliminar
          </button>
          <button
            type="submit"
            class="badge badge-success mb-2"
            (click)="updateTutorial()"
            >
            Actualizar 
          </button>
          <p>{{ message }}</p>
        </div>
      }
      @if (!currentTutorial.id) {
        <div>
          <br />
          <p>El servidor no ha sido conectado.</p>
        </div>
      }
    }
</div>